<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página inicial</title>
    
</head>
<body>
    <header>
        <h1 class="main">Página principal</h1>
        <div class="avatar">
            <img src="/images/ninja.png" alt="Gato">
            <p class="main">Usuário: <%= nome %></p>
            <div id="botoes" align="center"></div>
                <a id="ajeitar" href="pag-inicial/editar">
                    <button>Editar Perfil</button>
                </a>
                <a href="/sair">
                    <button>Sair</button>
                </a>
            </div>    
        </div>
    </header>  
   
    <br>
    <form class="pesquisa" action="/busca" method="POST">
        <input type="text" placeholder="Insira o usuário que deseja buscar" name="busca" id="busca" required>
        <button type="submit">Buscar</button>
    </form>
    <br>
    <table align="center">
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Idade</th>
        </tr>

        <% for(let i = 0; i < resultados.length; i++){ %>
        <tr>
            <th> <%= resultados[i].nome %> </th>
            <th> <%= resultados[i].email %> </th>
            <th> <%= resultados[i].idade %> </th>
        </tr>
        <% } %>


    </table>
     <br>
    <div class="aviso"><%= aviso %></div>
    <style><%= mycss.style%></style>
</body>
<footer>
    <h3>© Todos os direitos reservados</h3>
</footer>
</html>